body{
    margin: 0px;
    padding: 0px;
    height:900px;
    display: flex;
    justify-content: center;
    background-color:darkblue;
    align-items: center;
}
#main_outer{
    height:629px;
    width: 295px;
    border-radius: 30px;
    border: 2px solid white;
    background-color:black;

}
#logo{
    margin-top: 0px;
    color: white;
    font-size: 30px;
    display: flex;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 3px solid black;
    justify-content: center;
    background-color:black;
    height: 40px;
}
#result{
    text-align: end;
    background-color: whitesmoke;
    font-size: x-large;
    height: 200px;
    width: 288px;
}
button{
    height: 60px;
    width:60px;
    color: white;
    margin: 4px;
    margin-left: 5px;
    color: black;
    font-size:30px;
    margin-top: 10px;
    background-color: gray;
   border-radius: 25px;
}
#button_back{
    background-color: black;
    border-radius: 20px;
}
.col_yel{
    background-color: #c49410;
}
.col_black{
    background-color: black;
    color: white;
    border: 1px solid white;
    filter: drop-shadow(1px 2px 2px white);
}