body{
    margin: 0px;
    padding: 0px;
    height:900px;
    display: flex;
    justify-content: center;
    background-color:burlywood;
    align-items: center;
}
#main_outer{
    height:500px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #B68D40;

}
#logo{
    margin-top: 0px;
    color: yellow;
    font-size: 30px;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid black;
    box-shadow:0px 3px 3px 3px black;

    justify-content: center;
    background-color:#D6AD60;
    height: 40px;
}