*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font:inherit;
}


header{
    width: 100%;
    background: linear-gradient( 135deg , black , rgb(9, 9, 130));
    height: 70px;
    box-shadow: 10px 10px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.PortFolio{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar_ele{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 50%;
}
 
footer{
    width: 100%;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    height:400px;

}

.thankyou{
    text-align: center;
    margin-top: 30px;
}

footer h1{
    margin-left: 3%;
    font-size: 22px;
}
 footer p{
    margin-top: 10px;
    font-size: 13px;
 }
 
.pp{
    width: 80%;
    margin-left:15%;
    line-height: 20px;
    margin-top: 25px;
    
}
.imgcon{
    margin-left: 15%;
    margin-top: 20px;
    width: 300px;
}
footer img {
    border-radius: 20px;
    height: 50px;
    width: 50px;
}

#leftdiv{
    margin-left: 0px;
    width: 50%;
}
.twodiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content:last baseline;
}
.userinput {
    width: 50%;
}
.userinput input{
    border: 0;
    outline: 0;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    background-color: black;
    box-shadow: 0 0  7px  white ;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    width: 300px;
}
.replace{
    margin-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Suggestions_btn{
    margin-top: 30px;
    margin-left: 120px ;
    background-color: #5783db;
    width: 100px;
    border-radius: 20px;
    font-size: medium;
}
#Suggestions_box {
    height: 100px;
    overflow-wrap: break-word;
}
.contact{
    margin-top: 20px;
    margin-left:22%;
}
.contact a{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    background:linear-gradient(145deg , black ,rgb(22, 34, 69));
    margin: auto;
}
.fornt_main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
}
.part1{
    width: 50%;
    height:  850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2{
    width: 50%;
    height:850px;
}
.part1 img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0  0  0.75rem  rgb(12, 54, 88));
}

.part2p{
    width: 400px;
}
.part2p p{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.slidepart2{
    margin: 300px 0px auto 75px;
}
#greencol{
    color: rgb(8, 151, 29);
}
.slidepart2 h2{
    
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;

}
.slidepart2 h1{
    margin-top: 11px;
    font-family:sans-serif ;
    font-size: 50px;
}
.slidepart2 h3{
    color: rgb(8, 151, 29);
    margin-top: 11px;
    font-family: sans-serif;
    font-size: 30px;
}
.contactprof{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.contactprof img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
a:hover{
     cursor: pointer;
}
.skillname{
    border-top: 1px solid white  ;
    border-bottom: 1px solid white;
    background: linear-gradient(135deg, rgb(10, 17, 53) , rgb(7, 7, 53),  rgb(8, 8, 20));
 }
.skillname h1{
    margin-left:10%;
    font-family:cursive;
    font-size: 45px;
    color:darkgray;
    font-weight: 800;
}
.skilltoprow{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.skillbottomrow{

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.skilldiv{
    margin-bottom: 20px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    /* filter: drop-shadow(5px  -5px  3px rgb(214, 230, 243)); */
}
 
.skilltoprow img{
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.skillbottomrow img{
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:fill;
}
.skilltoprow h2{ 
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    height: 40px;
    color: white;
    border-radius: 8px;
}
.skillbottomrow h2{ 
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    height: 40px;
    color: white;
    border-radius: 8px;
}